/* button{
    padding: 1%;
    font-size: 15px;
    margin-top: 1%;
    margin-bottom: 2%;
}
#search-ticket{
    width:700px;
   margin: auto;
   margin-top:3%;
   margin-bottom: 3%;
   padding: 30px;
}
#search{
    margin: 1%;
   border-style: solid;
   text-align: center;
   font-size: 20px;
}
input:focus{
    border-color:dodgerBlue;
       box-shadow:0 0 8px 0 dodgerBlue;
       padding: 1%;
}
label{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: right;
    width: 400px;
    line-height: 26px;
    margin-bottom: 10px;
    margin-left: 8%;
 } */

 .container{
     border: 5px solid grey;
 }

 h4{
     text-align: center;
     font-weight: bold;
 }

 body{
     padding-top: 25%;
 }

 table {
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid black;
  }